@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 163 94% 24%;
    --primary-foreground: 0 100% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 70 14% 82.7%;
    --card: 131 21.6% 29%;
    --card-foreground: 70 14% 82.7%;
    --popover: 131 21.6% 29%;
    --popover-foreground: 70 14% 82.7%;
    --primary: 81 22.9% 61.8%;
    --primary-foreground: 151 20% 25.5%;
    --secondary: 118 19.3% 42.5%;
    --secondary-foreground: 70 14% 82.7%;
    --muted: 118 19.3% 42.5%;
    --muted-foreground: 70 14% 82.7%;
    --accent: 118 19.3% 42.5%;
    --accent-foreground: 70 14% 82.7%;
    --destructive: 0 87% 47%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 118 19.3% 42.5%;
    --input: 118 19.3% 42.5%;
    --ring: 81 22.9% 61.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-size: 112.5%; /* 18px base */
  }
  body {
    @apply bg-background text-foreground;
  }
}

.landing-header {
  @apply bg-gradient-to-br from-primary to-secondary bg-clip-text;
}

.landing-header strong {
  @apply font-bold text-transparent;
}
